body{
    margin: 0;
    background-color: rgb(59, 126, 177);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    width: 500px;
    height: 100px;
    background-color: slateblue;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    min-width: 400px;
    padding: 70px 20px;
    margin: 5px;
    color: bisque;
    position: relative;
    
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position:absolute ;
    left: 50%;
    transform: translateX(-50% );
    top: -22%;
}
.username{
    font-size: 13px;
    font-weight: 100;
}